/* Coolors Exported Palette - https://coolors.co/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8 */

/* CSS HEX */
// --midnight-blue: #03045eff;
// --dark-cornflower-blue: #023e8aff;
// --star-command-blue: #0077b6ff;
// --blue-green: #0096c7ff;
// --pacific-blue: #00b4d8ff;
// --sky-blue-crayola: #48cae4ff;
// --middle-blue: #90e0efff;
// --blizzard-blue: #ade8f4ff;
// --light-cyan: #caf0f8ff;

/* CSS HSL */
// --midnight-blue: hsla(239, 94%, 19%, 1);
// --dark-cornflower-blue: hsla(214, 97%, 27%, 1);
// --star-command-blue: hsla(201, 100%, 36%, 1);
// --blue-green: hsla(195, 100%, 39%, 1);
// --pacific-blue: hsla(190, 100%, 42%, 1);
// --sky-blue-crayola: hsla(190, 74%, 59%, 1);
// --middle-blue: hsla(189, 75%, 75%, 1);
// --blizzard-blue: hsla(190, 76%, 82%, 1);
// --light-cyan: hsla(190, 77%, 88%, 1);

/* SCSS HEX */
$midnight-blue: #03045eff;
$dark-cornflower-blue: #023e8aff;
$star-command-blue: #0077b6ff;
$blue-green: #0096c7ff;
$pacific-blue: #00b4d8ff;
$sky-blue-crayola: #48cae4ff;
$middle-blue: #90e0efff;
$blizzard-blue: #ade8f4ff;
$light-cyan: #caf0f8ff;

/* SCSS HSL */
$midnight-blue: hsla(239, 94%, 19%, 1);
$dark-cornflower-blue: hsla(214, 97%, 27%, 1);
$star-command-blue: hsla(201, 100%, 36%, 1);
$blue-green: hsla(195, 100%, 39%, 1);
$pacific-blue: hsla(190, 100%, 42%, 1);
$sky-blue-crayola: hsla(190, 74%, 59%, 1);
$middle-blue: hsla(189, 75%, 75%, 1);
$blizzard-blue: hsla(190, 76%, 82%, 1);
$light-cyan: hsla(190, 77%, 88%, 1);

/* SCSS RGB */
$midnight-blue: rgba(3, 4, 94, 1);
$dark-cornflower-blue: rgba(2, 62, 138, 1);
$star-command-blue: rgba(0, 119, 182, 1);
$blue-green: rgba(0, 150, 199, 1);
$pacific-blue: rgba(0, 180, 216, 1);
$sky-blue-crayola: rgba(72, 202, 228, 1);
$middle-blue: rgba(144, 224, 239, 1);
$blizzard-blue: rgba(173, 232, 244, 1);
$light-cyan: rgba(202, 240, 248, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-right: linear-gradient(90deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-bottom: linear-gradient(180deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-left: linear-gradient(270deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-top-right: linear-gradient(45deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-bottom-right: linear-gradient(135deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-top-left: linear-gradient(225deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-bottom-left: linear-gradient(315deg, #03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);
$gradient-radial: radial-gradient(#03045eff, #023e8aff, #0077b6ff, #0096c7ff, #00b4d8ff, #48cae4ff, #90e0efff, #ade8f4ff, #caf0f8ff);