/* Coolors Exported Palette - https://coolors.co/03045e-0077b6-00b4d8-90e0ef-caf0f8 */

/* CSS HEX */
--midnight-blue: #03045eff;
--star-command-blue: #0077b6ff;
--pacific-blue: #00b4d8ff;
--middle-blue: #90e0efff;
--light-cyan: #caf0f8ff;

/* CSS HSL */
--midnight-blue: hsla(239, 94%, 19%, 1);
--star-command-blue: hsla(201, 100%, 36%, 1);
--pacific-blue: hsla(190, 100%, 42%, 1);
--middle-blue: hsla(189, 75%, 75%, 1);
--light-cyan: hsla(190, 77%, 88%, 1);

/* SCSS HEX */
$midnight-blue: #03045eff;
$star-command-blue: #0077b6ff;
$pacific-blue: #00b4d8ff;
$middle-blue: #90e0efff;
$light-cyan: #caf0f8ff;

/* SCSS HSL */
$midnight-blue: hsla(239, 94%, 19%, 1);
$star-command-blue: hsla(201, 100%, 36%, 1);
$pacific-blue: hsla(190, 100%, 42%, 1);
$middle-blue: hsla(189, 75%, 75%, 1);
$light-cyan: hsla(190, 77%, 88%, 1);

/* SCSS RGB */
$midnight-blue: rgba(3, 4, 94, 1);
$star-command-blue: rgba(0, 119, 182, 1);
$pacific-blue: rgba(0, 180, 216, 1);
$middle-blue: rgba(144, 224, 239, 1);
$light-cyan: rgba(202, 240, 248, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #03045eff, #0077b6ff, #00b4d8ff, #90e0efff, #caf0f8ff);
$gradient-right: linear-gradient(90deg, #03045eff, #0077b6ff, #00b4d8ff, #90e0efff, #caf0f8ff);
$gradient-bottom: linear-gradient(180deg, #03045eff, #0077b6ff, #00b4d8ff, #90e0efff, #caf0f8ff);
$gradient-left: linear-gradient(270deg, #03045eff, #0077b6ff, #00b4d8ff, #90e0efff, #caf0f8ff);
$gradient-top-right: linear-gradient(45deg, #03045eff, #0077b6ff, #00b4d8ff, #90e0efff, #caf0f8ff);
$gradient-bottom-right: linear-gradient(135deg, #03045eff, #0077b6ff, #00b4d8ff, #90e0efff, #caf0f8ff);
$gradient-top-left: linear-gradient(225deg, #03045eff, #0077b6ff, #00b4d8ff, #90e0efff, #caf0f8ff);
$gradient-bottom-left: linear-gradient(315deg, #03045eff, #0077b6ff, #00b4d8ff, #90e0efff, #caf0f8ff);
$gradient-radial: radial-gradient(#03045eff, #0077b6ff, #00b4d8ff, #90e0efff, #caf0f8ff);