/* Coolors Exported Palette - https://coolors.co/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 */

/* CSS HEX */
// --cultured: #f8f9faff;
// --cultured-2: #e9ecefff;
// --gainsboro: #dee2e6ff;
// --light-gray: #ced4daff;
// --cadet-blue-crayola: #adb5bdff;
// --sonic-silver: #6c757dff;
// --davys-grey: #495057ff;
// --onyx: #343a40ff;
// --eerie-black: #212529ff;

/* CSS HSL */
// --cultured: hsla(210, 17%, 98%, 1);
// --cultured-2: hsla(210, 16%, 93%, 1);
// --gainsboro: hsla(210, 14%, 89%, 1);
// --light-gray: hsla(210, 14%, 83%, 1);
// --cadet-blue-crayola: hsla(210, 11%, 71%, 1);
// --sonic-silver: hsla(208, 7%, 46%, 1);
// --davys-grey: hsla(210, 9%, 31%, 1);
// --onyx: hsla(210, 10%, 23%, 1);
// --eerie-black: hsla(210, 11%, 15%, 1);

/* SCSS HEX */
$cultured: #f8f9faff;
$cultured-2: #e9ecefff;
$gainsboro: #dee2e6ff;
$light-gray: #ced4daff;
$cadet-blue-crayola: #adb5bdff;
$sonic-silver: #6c757dff;
$davys-grey: #495057ff;
$onyx: #343a40ff;
$eerie-black: #212529ff;

/* SCSS HSL */
$cultured: hsla(210, 17%, 98%, 1);
$cultured-2: hsla(210, 16%, 93%, 1);
$gainsboro: hsla(210, 14%, 89%, 1);
$light-gray: hsla(210, 14%, 83%, 1);
$cadet-blue-crayola: hsla(210, 11%, 71%, 1);
$sonic-silver: hsla(208, 7%, 46%, 1);
$davys-grey: hsla(210, 9%, 31%, 1);
$onyx: hsla(210, 10%, 23%, 1);
$eerie-black: hsla(210, 11%, 15%, 1);

/* SCSS RGB */
$cultured: rgba(248, 249, 250, 1);
$cultured-2: rgba(233, 236, 239, 1);
$gainsboro: rgba(222, 226, 230, 1);
$light-gray: rgba(206, 212, 218, 1);
$cadet-blue-crayola: rgba(173, 181, 189, 1);
$sonic-silver: rgba(108, 117, 125, 1);
$davys-grey: rgba(73, 80, 87, 1);
$onyx: rgba(52, 58, 64, 1);
$eerie-black: rgba(33, 37, 41, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f8f9faff, #e9ecefff, #dee2e6ff, #ced4daff, #adb5bdff, #6c757dff, #495057ff, #343a40ff, #212529ff);
$gradient-right: linear-gradient(90deg, #f8f9faff, #e9ecefff, #dee2e6ff, #ced4daff, #adb5bdff, #6c757dff, #495057ff, #343a40ff, #212529ff);
$gradient-bottom: linear-gradient(180deg, #f8f9faff, #e9ecefff, #dee2e6ff, #ced4daff, #adb5bdff, #6c757dff, #495057ff, #343a40ff, #212529ff);
$gradient-left: linear-gradient(270deg, #f8f9faff, #e9ecefff, #dee2e6ff, #ced4daff, #adb5bdff, #6c757dff, #495057ff, #343a40ff, #212529ff);
$gradient-top-right: linear-gradient(45deg, #f8f9faff, #e9ecefff, #dee2e6ff, #ced4daff, #adb5bdff, #6c757dff, #495057ff, #343a40ff, #212529ff);
$gradient-bottom-right: linear-gradient(135deg, #f8f9faff, #e9ecefff, #dee2e6ff, #ced4daff, #adb5bdff, #6c757dff, #495057ff, #343a40ff, #212529ff);
$gradient-top-left: linear-gradient(225deg, #f8f9faff, #e9ecefff, #dee2e6ff, #ced4daff, #adb5bdff, #6c757dff, #495057ff, #343a40ff, #212529ff);
$gradient-bottom-left: linear-gradient(315deg, #f8f9faff, #e9ecefff, #dee2e6ff, #ced4daff, #adb5bdff, #6c757dff, #495057ff, #343a40ff, #212529ff);
$gradient-radial: radial-gradient(#f8f9faff, #e9ecefff, #dee2e6ff, #ced4daff, #adb5bdff, #6c757dff, #495057ff, #343a40ff, #212529ff);