/* Coolors Exported Palette - https://coolors.co/000022-001242-0094c6-005e7c-040f16 */

/* CSS HEX */
--oxford-blue: #000022ff;
--oxford-blue-2: #001242ff;
--blue-ncs: #0094c6ff;
--blue-sapphire: #005e7cff;
--rich-black-fogra-29: #040f16ff;

/* CSS HSL */
--oxford-blue: hsla(240, 100%, 7%, 1);
--oxford-blue-2: hsla(224, 100%, 13%, 1);
--blue-ncs: hsla(195, 100%, 39%, 1);
--blue-sapphire: hsla(195, 100%, 24%, 1);
--rich-black-fogra-29: hsla(203, 69%, 5%, 1);

/* SCSS HEX */
$oxford-blue: #000022ff;
$oxford-blue-2: #001242ff;
$blue-ncs: #0094c6ff;
$blue-sapphire: #005e7cff;
$rich-black-fogra-29: #040f16ff;

/* SCSS HSL */
$oxford-blue: hsla(240, 100%, 7%, 1);
$oxford-blue-2: hsla(224, 100%, 13%, 1);
$blue-ncs: hsla(195, 100%, 39%, 1);
$blue-sapphire: hsla(195, 100%, 24%, 1);
$rich-black-fogra-29: hsla(203, 69%, 5%, 1);

/* SCSS RGB */
$oxford-blue: rgba(0, 0, 34, 1);
$oxford-blue-2: rgba(0, 18, 66, 1);
$blue-ncs: rgba(0, 148, 198, 1);
$blue-sapphire: rgba(0, 94, 124, 1);
$rich-black-fogra-29: rgba(4, 15, 22, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #000022ff, #001242ff, #0094c6ff, #005e7cff, #040f16ff);
$gradient-right: linear-gradient(90deg, #000022ff, #001242ff, #0094c6ff, #005e7cff, #040f16ff);
$gradient-bottom: linear-gradient(180deg, #000022ff, #001242ff, #0094c6ff, #005e7cff, #040f16ff);
$gradient-left: linear-gradient(270deg, #000022ff, #001242ff, #0094c6ff, #005e7cff, #040f16ff);
$gradient-top-right: linear-gradient(45deg, #000022ff, #001242ff, #0094c6ff, #005e7cff, #040f16ff);
$gradient-bottom-right: linear-gradient(135deg, #000022ff, #001242ff, #0094c6ff, #005e7cff, #040f16ff);
$gradient-top-left: linear-gradient(225deg, #000022ff, #001242ff, #0094c6ff, #005e7cff, #040f16ff);
$gradient-bottom-left: linear-gradient(315deg, #000022ff, #001242ff, #0094c6ff, #005e7cff, #040f16ff);
$gradient-radial: radial-gradient(#000022ff, #001242ff, #0094c6ff, #005e7cff, #040f16ff);