
html.light {
  --bg-main: #ededed;
  --bg-main-opacity: 237, 237, 237;
  --bg-secondary: #d7d7d7;
  --bg-card: #d7d7d7;
  --bg-card-hover: #c3c3c3;

  --font-primary: #131313;
  --font-muted: #808080;
  --font-inverted: #d7d7d7;

  --border-primary: #e1e1e1;
  --border-primary-hover: #d1d1d1;
  --border-muted: #ebe7eb;
  --font-placeholder: #707070;
}