:root {
  --manatee-50: #f6f6f7;
  --manatee-100: #eef0f1;
  --manatee-200: #e0e2e5;
  --manatee-300: #cdd0d4;
  --manatee-400: #b7bbc2;
  --manatee-500: #a4a7b0;
  --manatee-600: #9497a1;
  --manatee-700: #7b7d87;
  --manatee-800: #65686e;
  --manatee-900: #54565b;
  --manatee-950: #313235;

  --silver-50: #f7f7f7;
  --silver-100: #ecedec;
  --silver-200: #dedfde;
  --silver-300: #c6c7c5;
  --silver-400: #adaeac;
  --silver-500: #989a97;
  --silver-600: #878a86;
  --silver-700: #7a7c79;
  --silver-800: #666865;
  --silver-900: #545553;
}