:root {
  /*
  Space Scale
  */
  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|xs-xl */
  --space-3xs: clamp(0.25rem, calc(0.2rem + 0.24vw), 0.38rem);
  --space-2xs: clamp(0.5rem, calc(0.4rem + 0.49vw), 0.75rem);
  --space-xs: clamp(0.75rem, calc(0.6rem + 0.73vw), 1.13rem);
  --space-s: clamp(1rem, calc(0.8rem + 0.98vw), 1.5rem);
  --space-m: clamp(1.5rem, calc(1.21rem + 1.46vw), 2.25rem);
  --space-l: clamp(2rem, calc(1.61rem + 1.95vw), 3rem);
  --space-xl: clamp(3rem, calc(2.41rem + 2.93vw), 4.5rem);
  --space-2xl: clamp(4rem, calc(3.22rem + 3.9vw), 6rem);
  --space-3xl: clamp(6rem, calc(4.83rem + 5.85vw), 9rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.05rem + 0.98vw), 0.75rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.26rem + 1.22vw), 1.13rem);
  --space-xs-s: clamp(0.75rem, calc(0.46rem + 1.46vw), 1.5rem);
  --space-s-m: clamp(1rem, calc(0.51rem + 2.44vw), 2.25rem);
  --space-m-l: clamp(1.5rem, calc(0.91rem + 2.93vw), 3rem);
  --space-l-xl: clamp(2rem, calc(1.02rem + 4.88vw), 4.5rem);
  --space-xl-2xl: clamp(3rem, calc(1.83rem + 5.85vw), 6rem);
  --space-2xl-3xl: clamp(4rem, calc(2.05rem + 9.76vw), 9rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, calc(0.22rem + 3.9vw), 3rem);
  --space-xs-xl: clamp(0.75rem, calc(-0.71rem + 7.32vw), 4.5rem);

  /*
  Type Scale
  */
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.067,1140,16,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  --step--2: clamp(0.64rem, calc(0.97rem + -0.46vw), 0.88rem);
  --step--1: clamp(0.8rem, calc(0.99rem + -0.27vw), 0.94rem);
  --step-0: clamp(1rem, calc(1rem + 0vw), 1rem);
  --step-1: clamp(1.07rem, calc(1rem + 0.36vw), 1.25rem);
  --step-2: clamp(1.14rem, calc(0.97rem + 0.83vw), 1.56rem);
  --step-3: clamp(1.22rem, calc(0.93rem + 1.44vw), 1.95rem);
  --step-4: clamp(1.3rem, calc(0.85rem + 2.23vw), 2.44rem);
  --step-5: clamp(1.38rem, calc(0.73rem + 3.26vw), 3.05rem);

  /* Responsive font sizes */
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.75rem;
  --font-size-4xl: 2rem;
}

/* Responsive font */
@media (min-width: 640px) {
  :root {
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.75rem;
    --font-size-4xl: 2rem;
  }
}

:root {
  color-scheme: light;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
  font-size: var(--font-size-base);
  background-color: var(--gray-1);
  color: var(--gray-11);
}

html.dark {
  color-scheme: dark;
}

/* Anchor tag styles */
a {
  color: var(--gray-11);
  text-decoration: none;
  transition: color 0.3s ease;
}

/* a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
} */

/* a:focus {
  outline: 2px solid var(--accent);
  outline-offset: 2px;
} */

img,
picture {
  max-width: 100%;
  display: block;
}

::selection {
  background: var(--gray-4);
  opacity: 0.5;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--gray-8);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

* {
  scrollbar-color: var(--gray-6) var(--gray-1);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: var(--gray-1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--gray-6);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-7);
}

h2 + p > em:first-child {
  opacity: 0.5;
  display: block;
  margin-top: -20px;
  font-size: 0.9em;
}

.dark [img-light] {
  display: none;
}

html:not(.dark) [img-dark] {
  display: none;
}

@keyframes slide-enter {
  0% {
    transform: trangrayY(10px);
    opacity: 0
  }

  to {
    transform: trangrayY(0);
    opacity: 100
  }
}

@media (prefers-reduced-motion:no-preference) {
  html:not(.no-sliding) [slide-enter],
  html:not(.no-sliding) .slide-enter,
  html:not(.no-sliding) .slide-enter-content > *:not(:has(.table-of-contents)) {
    --enter-stage: 0;
    --enter-step: 90ms;
    --enter-initial: 0ms;
    animation: slide-enter 1s both 1;
    animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
  }

  .slide-enter-content > *:nth-child(1) { --enter-stage: 1 !important; }
  .slide-enter-content > *:nth-child(2) { --enter-stage: 2 !important; }
  .slide-enter-content > *:nth-child(3) { --enter-stage: 3 !important; }
  .slide-enter-content > *:nth-child(4) { --enter-stage: 4 !important; }
  .slide-enter-content > *:nth-child(5) { --enter-stage: 5 !important; }
  .slide-enter-content > *:nth-child(6) { --enter-stage: 6 !important; }
  .slide-enter-content > *:nth-child(7) { --enter-stage: 7 !important; }
  .slide-enter-content > *:nth-child(8) { --enter-stage: 8 !important; }
  .slide-enter-content > *:nth-child(9) { --enter-stage: 9 !important; }
  .slide-enter-content > *:nth-child(10) { --enter-stage: 10 !important; }
  .slide-enter-content > *:nth-child(11) { --enter-stage: 11 !important; }
  .slide-enter-content > *:nth-child(12) { --enter-stage: 12 !important; }
  .slide-enter-content > *:nth-child(13) { --enter-stage: 13 !important; }
  .slide-enter-content > *:nth-child(14) { --enter-stage: 14 !important; }
  .slide-enter-content > *:nth-child(15) { --enter-stage: 15 !important; }
  .slide-enter-content > *:nth-child(16) { --enter-stage: 16 !important; }
  .slide-enter-content > *:nth-child(17) { --enter-stage: 17 !important; }
  .slide-enter-content > *:nth-child(18) { --enter-stage: 18 !important; }
  .slide-enter-content > *:nth-child(19) { --enter-stage: 19 !important; }
  .slide-enter-content > *:nth-child(20) { --enter-stage: 20 !important; }
}

/* Overrides Floating Vue */
.v-popper--theme-dropdown .v-popper__inner,
.v-popper--theme-tooltip .v-popper__inner {
  --at-apply: bg-base text-base rounded border border-base shadow;
  box-shadow: 0 6px 30px #0000001a;
}

.v-popper--theme-tooltip .v-popper__arrow-inner,
.v-popper--theme-dropdown .v-popper__arrow-inner {
  visibility: visible;
  --at-apply: border-white dark:border-black;
}

.v-popper--theme-tooltip .v-popper__arrow-outer,
.v-popper--theme-dropdown .v-popper__arrow-outer {
  --at-apply: border-base;
}

.v-popper--theme-tooltip.v-popper--shown,
.v-popper--theme-tooltip.v-popper--shown * {
  transition: none !important;
}

/* Transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Heading styles with responsive font sizes */
.prose h1 {
  /* font-weight: 600; */
  font-size: var(--font-size-4xl);
  margin-top: 0;
  margin-bottom: 0.1em;
  line-height: 1.1111111;
}

.prose h2 {
  font-size: var(--font-size-3xl);
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  line-height: 1;
}

/* .prose h3 {
  font-size: var(--font-size-2xl);
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  line-height: 1;
}

.prose h4 {
  font-size: var(--font-size-xl);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
} */
